.Description {
  padding: 10px 10px 0px 10px;
  white-space: normal;
  flex-wrap: wrap;
  font-size: 16px;
}

.GalleryImage {
  position: relative;
  height: 240px;
}

.SectionTitle {
  padding: 0px 10px 10px 10px;
  white-space: normal;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
}